<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>{{ site.title }}</title>

	<meta name="description" content="{{ site.description }}">
	<meta property="og:url" content="{{ site.url }}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="{{ site.title }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ site.title }}">
	<meta name="twitter:description" content="{{ site.description }}">

	<link rel="stylesheet" href="https://use.typekit.net/lsz1tsk.css">
</head>
<body>
	<header>
		<h1>{{ site.title }}</h1>
		<p>{{ site.description }}</p>
	</header>

	<footer>
		<a href="{{ site.repo }}">View Source</a>
	</footer>
</body>
</html>
